# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Logs
logs/*.log

# Data
data/raw/
data/processed/

# dbt
target/
dbt_packages/
logs/

# macOS
.DS_Store

# Windows
Thumbs.db
